  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <h1 class="title">Eat Da' Burger</h1>
        <form class="create-form addBurger">
          <div class="form-group">
            <input type="text" id="bu" name="name" placeholder="Enter Burger Name"><button class="button"
              type="submit">Add the Burger!</button>
          </div>
        </form>
      </div>

      <div class="col-sm-6">
        <img src="/assets/img/burger.png" alt="burger image" id="burgerPNG">
      </div>
    </div>
    <div class="row row2">
      <div class="col-sm-6">
        <h3>Burgers Ready</h3>
        <ul>
          {{#each burgers}}
          <li>
            {{this.burger_name}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-6">
        <h2>Devoured Burgers</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </div>
  <br>
  <!-- image attribution -->
  <a class="footer" href="https://www.freepnglogos.com/images/burger-10956.html">burger png png images yellow images
    from freepnglogos.com</a>